= partial "components/navbar"

= partial "components/services-development-intro"
= partial "components/services-development-offer"
= partial "components/services-development-stack"
= partial "components/services-development-rails-info"
