div class="stack-container"
  div class="container pt-5 pb-5"
    h2 class="stack-header" The stack
    div class="row pt-4"
      div class="col-md-6"
        span class="stack-header-small" Tools we have tried and found them good:

        ul class="stack-list"
          li <strong>Ruby on Rails</strong> web framework
          li <strong>Sidekiq</strong> for processing background jobs
          li <strong>EmberJS</strong> - for building Single Page Applications
          li <strong>Vue.js</strong> - for when we need just a sprinkle of dynamic JavaScript

      div class="col-md-6"
        span class="stack-header-small" Databases:

        ul class="stack-list"
          li <strong>PostgreSQL</strong> - our old favourite - capable and scalable
          li Search/Indexing  tools - if you need to find something fast: <strong>Sphinx</strong>, <strong>ElasticSearch</strong>, <strong>Solr</strong>
          li <strong>Redis</strong> - for caching and storing the background job queue, among other uses
