div class="offer-container bg-stable"
  div class="container pt-5"
    h2 class="offer-header" What we do
    div class="row pt-4"
      div class="col-md-4"
        ul class="offer-list"
          li
            | We build:
            ul
              li <strong>Web apps</strong>, looking good on a computer, tablet or mobile phone
              li <strong>Back-end systems</strong>, exposing an API for your native

          li We <strong>design and build</strong> new systems from scratch, based on your idea, made concrete as a collection of user stories.

          li We <strong>bring stalled</strong> software <strong>projects up to date</strong> regarding framework and language versions, as well as tools and external dependencies it is bound with.

      div class="col-md-4"
        ul class="offer-list"
          li We <strong>find cost-effective hosting</strong> options and set up deployment processes, including back up of your database and user-uploaded content. We have our own DevOps engineers available for assistance.

          li We <strong>connect</strong> applications to any number of <strong>external</strong> systems through their <strong>APIs</strong>. Your app can be integrated with Facebook for sharing, with Twitter for authentication, with Google Maps for mapping and geolocated content.

          li That includes <strong>setting up integration with payment providers</strong>. You need a way to get money from your clients, we know how to make the process swift and secure.

      div class="col-md-4"
        ul class="offer-list"
          li We  <strong>design and deliver</strong> scalable applications <strong>for handling large traffic</strong> in a pinch, if your idea becomes viral. It did happen to some of our clients’ apps in the past, we know what to do if that time comes.

          li We <strong>watch your apps</strong> for you, monitoring the traffic, network outages, hardware failures etc. We will alert you when necessary, but we will act proactively, doing what is necessary to restore interrupted service, whether by increasing server capacity to match the traffic peaks or by fixing production bugs, should they require immediate action.

        div class="devops-offer-btn"
          = link_to "Read more about our infrastructure and devops offer →", "/services/infrastructure-and-devops"
