div class="offer-container bg-stable"
  div class="container pt-5"
    div class="row pt-4"
      div class="col-md-6"
        h2 class="offer-devops-header pb-4" What we do
        ul class="offer-devops-list"
          li We build <strong>automated</strong> (Chef), <strong>stable</strong> (replication for services, monitoring, self-healing), <strong>tested</strong> (chefspec, integration specs, staging environment), <strong>performant</strong> / <strong>scalable</strong> and <strong>vendor-independent</strong> hosting platforms.

          li We <strong>build hosting platforms</strong> that fit into your use case.

          li We  <strong>support for developers</strong> who build applications on top of the platform (advices in solving performance issues, debugging, monitoring).

          li We <strong>design monitoring systems</strong>.

          li We <strong>support</strong> and <strong>maintain</strong> platforms or <strong>train</strong> customer teams to do that (bug fixes, security upgrades, on-call duty, monitoring).

          li We <strong>provide help</strong> with design, provisioning and maintenance of additional infrastructure.

      div class="col-md-6"
        h2 class="offer-devops-header pb-4" Benefits
        ul class="offer-devops-list"
          li A <strong>hosting platform</strong> that perfectly fits your needs.

          li <strong>Better control</strong> of where your data are stored and who has access to it.

          li An <strong>optimal solution</strong> for your budget - run as many applications within resources as needed without additional costs.

          li A <strong>team of experts</strong> that can help you with applications optimization to squeeze even more out of the platform.

          li An <strong>opportunity to train</strong> your own team to maintain the platform in the future.

          li <strong>Flexible technology stack</strong> - whatever tools you need, we can set up and maintain.
