div class="stack-container"
  div class="container pt-5 pb-5"
    h2 class="stack-header" Technologies
    div class="row pt-4"
      div class="col-md-6"
        ul class="stack-list"
          li <span class="text-brand">Chef</span> - the right choice for building an automated infrastructures. It allows you to keep the configuration in repository just like you do with your application's codebase. Makes it testable and reviewable.

          li <span class="text-brand">AWS</span>, <span class="text-brand">GCE</span>, <span class="text-brand">bare metal</span> - we can pick the best server provider for your hosting. No matter if you need virtual machines or powerful, bare metal servers. We have a long experience with different providers and we can advise you which option fits to your need.

          li <span class="text-brand">Workflow</span> (<span class="text-brand">Deis V2</span>), <span class="text-brand">Capistrano</span> - make deployments easy and painless for your developers. We can build a solution for both single and simple applications that run on one server and multiple applications that run on a cluster that scales well.

          li <span class="text-brand">Kubernetes</span> - deploy containers in any scale cluster. A perfect tool when you need a private Platform as a Service solution built using Workflow.

          li <span class="text-brand">Docker</span> - a great tool for virtualization. It has its gotchas, but we have a lot of experience with production clusters and we know how it plays.

      div class="col-md-6"
        ul class="stack-list"
          li <span class="text-brand">PostgreSQL</span>, <span class="text-brand">MongoDB</span>, <span class="text-brand">ElasticSearch</span>, <span class="text-brand">Redis</span>, <span class="text-brand">Jabber</span> - tell us what kind of data you need to store and we will pick and set up a right database for you with high availability in mind.

          li <span class="text-brand">DataDog</span>, <span class="text-brand">NewRelic</span>, <span class="text-brand">PagerDuty</span> - metrics and monitoring systems are essential parts of any hosting platform. Do it well to measure performance and to be able to debug problems without a pain.

          li <span class="text-brand">ELK stack</span> (<span class="text-brand">ElasticSearch</span>, <span class="text-brand">Logstash</span>, <span class="text-brand">Kibana</span>) - keep all your logs in one place and give them a shape using an extensible user interface. Easily correlate log data from your applications and infrastructure planes and/or additional services.

          li <span class="text-brand">Cloudflare</span> - bring your applications to the users using a DNS provider. Cloudflare offers a lot of handy features for production applications.

          li … and <span class="text-brand">many</span> others.
