div class="stack-container"
  div class="container pt-5 pb-5"
    h2 class="stack-header" The stack
    div class="row pt-4"
      div class="col-md-6"
        span class="stack-header-small" Tools we have tried and found them good:

        ul class="stack-list"
          li <span class="text-brand">Ruby on Rails</span> web framework
          li Other Ruby-based frameworks: <span class="text-brand">Sinatra</span>,  <span class="text-brand">Lotus</span>/<span class="text-brand">Hanami</span>, <span class="text-brand">Roda</span> + <span class="text-brand">ROM</span>
          li <span class="text-brand">EmberJS</span> - proven, dynamic frontend framework

      div class="col-md-6"
        span class="stack-header-small" Databases:

        ul class="stack-list"
          li <span class="text-brand">PostgreSQL</span> - our old favourite - capable and scalable
          li <span class="text-brand">MongoDB</span> - if you insist
          li Search/Indexing  tools - if you need to find something fast: <span class="text-brand">Sphinx</span>, <span class="text-brand">ElasticSearch</span>, <span class="text-brand">Solr</span>
          li <span class="text-brand">Redis</span> - for caching and storing the background job queue, among other uses
