.card {
  background: $color-light;
  box-shadow: $box-shadow-card;
  border-radius: $border-radius;
  padding: $spacer-x $spacer-y;
  display: block;

}

.card-link {
  transition: $link-transition;

  &:hover {
    text-decoration: none;
    transform: translateY(-2px);
    box-shadow: $box-shadow-card-raised;
  }
}
