.footer-link-cards {
  background: $color-stable;
  margin-top: -2 * $base-spacing;
}

.footer-link-cards-container {
  position: relative;
  top: 70px;
}

.footer-link-card {
  display: flex;
  align-items: center;
  background: $color-light;
  padding: $base-spacing;
  margin: $base-spacing 0;
  box-shadow: $box-shadow-card;
}

.footer-link-card-img {
  height: $link-card-img-height;
}

.footer-link {
  font-size: $font-size-big;
  font-weight: bold;
}

@include media-breakpoint-down(sm) {
  .footer-link-card-img {
    width: 80px;
  }

  .footer-link {
    font-size: $font-size-medium;
  }
}
