.hero {
  background-image: url("../images/team-hero.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 450px;
  width: 100%;

  &:after {
    background: linear-gradient(to right,
      saturate($color-brand, 20%) 0%,
      saturate($color-primary, 30%) 100%);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: .8;
  }
}

.hero-title {
  color: $color-light;
  position: relative;
  z-index: 1;
}

.hero-title-catchword {
  display: block;
  text-transform: uppercase;
}
