.navbar {
  padding: 1.5 * $base-spacing;
  font-size: $font-size-medium;

  .nav {
    padding-top: 0.3 * $base-spacing;
  }

  &.navbar-dark .navbar-nav .nav-link {
    padding: 0 0.5 * $spacer-x;
    color: $color-dark;
  }

  .navbar-toggler,
  .navbar-toggler:focus {
    border: none;
    outline: none;
    color: $color-dark;
    font-size: 1.2 * $font-size-big;
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 0.2rem;
  }

  @include media-breakpoint-down(xs) {
    .navbar-logo {
      height: $logo-height - 0.3rem;
      width: $logo-width - 60px;
    }
  }
}

// Navbar light with transparent background
.navbar-transparent {
  position: absolute;
  width: 100%;
  z-index: 2;

  &.navbar-dark .navbar-nav .nav-link {
    color: $color-light;
  }

  .navbar-toggler,
  .navbar-toggler:focus {
    color: $color-light;
  }
}

// Navbar logo
.navbar-logo {
  height: $logo-height;
  width: $logo-width;
}

.navbar-transparent-logo {
  background: url('/images/ragnarson-logo-negative.svg') center no-repeat;
}

.navbar-default-logo {
  background: url('/images/ragnarson-logo-default.svg') center no-repeat;
}

@include media-breakpoint-down(md) {
  .navbar,
  .navbar-transparent {
    padding: $base-spacing 0;
    text-align: right;

    .container {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }

    .navbar-logo {
      margin-left: 0.5 * $base-spacing;
    }

    .navbar-toggleable-md {
      z-index: 1000;
      position: relative;

      .navbar-nav {
        padding: $base-spacing;
        background: $color-light;
        text-align: center;

        .nav-link {
          padding: 0.2 * $base-spacing 0;
          color: $color-dark;
        }
      }
    }
  }
}
