.pill {
  border-color: $gray-light;
  border: 1px solid;
  border-radius: $btn-border-radius;
  padding: $btn-padding;
  font-size: $font-size-normal;
  margin-bottom: $spacer-y;
}

.pill-brand {

}
