.testimonials {
  position: relative;
  top: 4 * $spacer-y;
  z-index: 2;

  .carousel-inner {
    overflow: initial;
  }

  .carousel-control {
    display: flex;
    justify-content: center;
    align-items: center;

    &.left,
    &.right{
      background-image: none;
      font-size: $font-size-big;
    }
  }
}

.testimonial-indicators {
  bottom: 0;

  .testimonial-indicator {
    margin: 0 .5 * $spacer-x;
    border-color: lighten($color-dark, 60%);

    &.active {
      background: $color-brand;
      border-color: transparent;
    }
  }
}

.testimonial-card {
  background: $color-light;
  box-shadow: $box-shadow-card;
  padding: 3 * $spacer-y 5 * $spacer-x;
  min-height: 265px;
}

.testimonial-avatar-container {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
}

.testimonial-avatar {
  background: $color-stable;
  width: $testimonial-avatar-size;
  height: $testimonial-avatar-size;
}

.testimonial-author {
  color: lighten($color-dark, 10%);
}

.testimonial-content {
  color: $color-dark-muted;
}

.testimonial-logo img {
  height: $testimonial-logo-height;
  margin-bottom: $spacer-y;
}

@include media-breakpoint-down(md) {
  .testimonial-card {
    padding: 3 * $spacer-y $spacer-x;
  }
}

@media (min-width: 768px) and (max-width: 1600px) {
  .testimonial-card  {
    width: 75%;
  }
}
