// Colors
$color-dark: #262626;
$color-light: #ffffff;
$color-brand: #d7345a;
$color-primary: #3676cd;
$color-stable: #f5f6f8;

$headers-color: #7a7c7d;
$offer-text-color: #494a4b;

// Font Size
$font-size-small: 0.8rem;
$font-size-normal: 1rem;
$font-size-medium: 1.3rem;
$font-size-big: 1.8rem;
$font-size-social-icons: 2rem;

// Font Weight
$font-light: 300;

// Spacing
$base-spacing: 1rem;

// Image Size
$logo-height: 2rem;
$logo-width: 260px;
$footer-logo-width: 60px;
$link-card-img-height: 150px;

// Transitions
$link-transition: all 0.25s ease-in-out;

// Box Shadows
$box-shadow-card: 0px 3px 21px 0px rgba(0,0,0,0.1);

// Butttons
$btn-border-radius: 50px;
$btn-transition: all 0.3s ease-in-out;
$btn-padding: 0.5rem 2rem;
$btn-box-shadow: 7px 10px 10px -7px rgba(0,0,0,0.27);
$btn-ghost-border: 1px solid $color-light;

// Background
$bg-faded: #f6f9fc;
