// Colors
$color-dark: #262626;
$color-light: #ffffff;
$color-brand: #d7345a;
$color-primary: #3676cd;

// Font Size
$font-size-normal: 1em;
$font-size-medium: 1.3em;

// Font Weight
$font-light: 300;

// Spacing
$base-spacing: 1rem;

// Image Size
$logo-height: 2rem;
$logo-width: 260px;
