.relative-container.navbar-transparent
  = partial "components/navbar"
= partial "components/hero"
= partial "components/intro"
= partial "components/about"
= partial "components/steps"
= partial "components/clients-logos"
= partial "components/offer"
= partial "components/testimonials"
